

<div class="card-columns">
  {{#each projects}}


      <div class="trans shadow card round">     
        {{!-- {{#if_eq this.modStat 'rejected'}}
        <h2 style="color : red">Отклонено</h2>
        {{/if_eq}}
         --}}
        {{!-- {{#if_eq this.modStat 'accepted'}}
        <h2 style="color : green">Одобрено</h2>
        {{/if_eq}}

        {{#if_eq this.modStat 'pending'}}
        <h2 style="color : gray">На проверке</h2>
        {{/if_eq}}      --}}
        <img class="card-img" src='/images/{{this.images}}'>
        <div class="card-body">
          <h3 class="card-title">{{this.title}}</h3>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">Автор: {{this.author}}</p>
          <p class="card-text"><a href="../{{this._id}}" class="btn btn-primary" role="button">Перейти</a></p>
        </div>
      </div>

  {{/each}}
</div>
  