<div class="container row">

  {{#if_eq session.user.role 'designer'}}
  <h1>Добавить проект</h1>
  <form id="addPost" method="post" action="/projects" enctype="multipart/form-data">
    <label for="title">Название</label>
    <input id="title" type="text" name="title" class="form-control w-25" placeholder="Введите название">
    <label for="addDescription">Описание</label>
    <textarea style="resize:none" name="description" rows="10" class="w-50 form-control" id="addDescription"
      rows="3"></textarea>
    <input type="file" name="file-to-upload">
    <button type="submit" class="btn btn-default">Отправить</button>
  </form>
</div>
{{/if_eq}}

{{#if_not session.user.role 'designer'}}
<h1>Актуальные проекты</h1>
{{#each projects}}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="w-50" src='/images/{{this.images}}'>
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        {{#if_not ../session.user.role 'customer'}}
        <p>Автор : <a href="/projects/show/{{this.author}}">{{this.author}}</p></p>
        {{/if_not}}
        {{#if_eq ../session.user.role 'customer'}}
        <p>Автор: {{this.author}}</p>
        {{/if_eq}}
        <p><a href="projects/{{this._id}}" class="btn btn-primary" role="button">Перейти</a></p>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{/if_not}}