<div class="rounded shadow trans container pt-4 pb-2">

    <div class="row">
    <img class="rounded mx-auto pb-2 w-50 h-50" src='/images/{{project.images}}'>
    </div>
    <h3 class="text-center">{{project.title}}</h3>
    <h5 class="text-center">Описание</h3>
        <p class="text-center">{{project.description}}</p>
        <p>Автор: <a href="/projects/show/{{project.author}}">{{project.author}}</p>
        <div class="d-flex">
        <a href="/projects" class="shadow m-2 btn btn-primary" role="button">Назад</a>
            {{#if_eq session.user.role 'moderator'}}
            {{#if_eq project.modStat 'pending'}}
            
                <form action="/projects/accept/{{project._id}}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <input type="submit" class="shadow m-2 btn btn-success" value="Одобрить">
                </form>
                <form action="/projects/reject/{{project._id}}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <input type="submit" class="shadow m-2 btn btn-warning" value="Отклонить">
                </form>
                {{/if_eq}}
                {{/if_eq}}


                {{#if_not session.user.role 'customer'}}
                <form action="/projects/{{project._id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" class="shadow m-2 btn btn-danger" value="Удалить">
                </form>
                {{/if_not}}
            </div>
        {{!-- </div> --}}
        {{!-- </div> --}}
</div>